@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer components {

  .button {
    @apply cursor-pointer rounded-sm bg-blue-500
    border-2 border-blue-500
            px-3 py-2 text-center text-base font-normal text-white
            
            transition-all hover:bg-blue-600
            
            focus:outline-none focus:ring-4
            focus:ring-blue-500/50 active:bg-blue-500
            
            disabled:bg-slate-400;
  } 

  .button-secondary {
    @apply cursor-pointer rounded-sm border-2 border-blue-500 bg-transparent
            px-3 py-2 text-center text-base font-normal text-white
            
            transition-all hover:bg-blue-600
            
            focus:outline-none focus:ring-4
            focus:ring-blue-500/50 active:bg-blue-500 active:border-transparent
            
            disabled:bg-slate-400;
  }
}

.error {
  @apply text-red-600 font-medium text-sm pointer-events-none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

/* Define scrollbar styles for Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

/* loading animation  */
.loader {
  aspect-ratio: 1;
  height: 1.125rem;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  vertical-align: text-top;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}